.example-custom-input,
.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
    line-height: 2;
    display: block;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    border-width: 1px;
    border-color: gray;
}

.rounded-borders {
    margin: 2px;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.input-group-text {
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}
